@(tasks: List[Task], ntForm: Form[(String, String)], updprogressForm: Form[(Int, Int)])(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import models.Task

@main(title = "Gestion de tâches - Liste des tâches") {
    <script type="text/javascript">
        function submitForm(action) {
            switch (action) {
            case 'delete':
                $('#ftasks').attr("action", "@routes.Application.delTasks").submit();
                break;
            case 'finished':
                //alert('finished!');
                break;
            }
        }
        
        $(document).ready(function() {
            $('#tabletasks').dataTable( {
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "oLanguage": {
                    "sInfo": "Tâches _START_ à _END_ sur _TOTAL_",
                    "sLengthMenu": "Afficher _MENU_ tâches",
                    "sSearch": "Recherche",
                    "oPaginate": {
                        "sPrevious": "< |",
                        "sNext": " >"
                    }
                }
            } );
        });
    </script>
    <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
    
    <div id="newtask" class="modal hide fade" tabindex="-1" role="dialog">@newtask(ntForm)</div>
    
    <h1>@tasks.length tâches trouvées</h1>
    <form id="ftasks" method="POST" action="">
        <table class="table table-striped" id="tabletasks">
            <thead class="sorting">
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Avancement</th>
                </tr>
            </thead>
            <tbody>
                @tasks.map { t =>
                    <tr>
                        <td width="20"><input type="checkbox" name="deltasks[@t.id]" value="@t.id"/>
                        <td>@t.id</td>
                        <td>@t.name</td>
                        <td>@t.description</td>
                        <td width="120px">
                            <div style="display: none;">@t.progress</div>
                            <div class="progress" style="width: 100px; border: solid 1px #666666; display: inline-block;" rel="tooltip" data-placement="top" title="@t.progress %">
                                <div class="bar" style="width: @t.progress%"></div>
                            </div>
                            <i style="margin-top: -25px;" class="icon-cog"><a class="icon-cog-a" id="icon-cog-a-@t.id" taskid="@t.id" original-progress="@t.progress" data-placement="left" data-original-title="Mettre à jour l'avancement" data-content="@t.progress"></a></i> 
                        </td>
                    </tr>
                }
        </table>
        <a class="btn btn-primary" href="#newtask" role="button" data-toggle="modal">Nouvelle tâche</a>
        <div class="btn-group">
            <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                Tâches sélectionnées <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="submitForm('delete');">Supprimer</a></li>
                <li><a onclick="submitForm('finished');">Marquer comme terminées (NYI)</a></li>
            </ul>
        </div>
    </form>
    <script type="text/javascript">
        $('[rel=tooltip]').tooltip();
        $('.icon-cog-a').popover();
        
        function closeAllOthers(me) {
            $('.icon-cog-a').each(function() {
                if ($(this).attr('id') != me.attr('id'))
                    $(this).popover('hide');
            });
        }
        
        $('.icon-cog-a').popover({
            trigger: 'manual'
        }).click(function() {
            var $this = $(this);
            var $id = $(this).attr('id');
            var $taskid = $(this).attr('taskid');
            var $origProg = $(this).attr('original-progress');
            $slider = $('<div>').slider({
                range: "min",
                min: 1,
                max: 100,
                value: $origProg,
                slide: function(event, ui) {
                    $('#hid-' + $id).attr('value', ui.value);
                }
            });

            if ($this.toggleClass('active').hasClass('active')) {
                closeAllOthers($this);
                $this.popover('show');
                $('.popover-content')
                    .empty()
                    .append($slider)
                    .append('<p><form method="POST" action="@routes.Application.updTaskProgress"> ' +
                        '<input id="hid-' + $id + '" type="text" name="progress" value="0" style="width: 30px;"/>' +
                        '<input type="hidden" name="taskid" value="' + $taskid + '"/>' +
                        '<button class="btn btn-primary btn-mini pull-right" style="margin-bottom: 5px;">Valider</button></form></p>');
            }
        });
    </script>
}