@()(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@main(title = "Gestion de tâches - Accueil") {
    <div class="hero-unit">
        <h1>Bienvenue !</h1>
        <p>Ce site a pour vocation de vous permettre de gérer les tâches que vous devez réaliser, ainsi que plein d'autres fonctionnalités cools qui viendront en temps et en heure.</p>
        @session.get("connected").map { _ =>
            
        }.getOrElse {
            <p><a class="btn btn-primary btn-large" href="@routes.Application.signup">Je m'inscris &raquo;</a></p>
        }
    </div>
}