@(ntForm: Form[(String, String)])

@import models.Task

<style type="text/css">
    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 20px auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    
    .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }

</style>

<div>
    <h2 style="text-align: center;">Nouvelle tâche</h2>
    <form class="form-signin" method="POST" action="@routes.Application.newTask">
        <input type="text" class="input-block-level" name="name" placeholder="Nom">
        <textarea class="input-block-level" name="description" placeholder="Description" rows="5" cols="80"></textarea>
        <button class="btn btn-large btn-primary" type="submit">Créer</button>
    </form>
</div>