@(suForm: Form[(String, String)])(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@main(title = "Gestion de tâches - Inscription") {
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
    
    <div class="hero-unit">
        <form class="form-signin" method="POST">
            <br/>
            <input type="text" class="input-block-level" name="email" placeholder="Adresse email">
            <input type="password" class="input-block-level" name="password" placeholder="Mot de passe">
            <button class="btn btn-large btn-primary" type="submit">Inscription</button>
        </form>
    </div>
}